body {
	background-color: peachpuff;
}

h1 { font-size: 2em; }

p { font-size: .5em; }

/* 0px ~ 768px */
@media screen and ( max-width: 768px ) {
	
	body { background-color: palegreen;	}

	h1 { font-size: 1em; }

	p { font-size: 1em; }
	
}

/* 0px ~ 320px */
@media screen and ( max-width: 320px ) {
	
	body { background-color: paleturquoise;	}

	h1 { font-size: 3em; }

	p { font-size: 2em; }
	
}